[user]
	name = zsxh
	email = bnbvbchen@gmail.com
[github]
	user = zsxh
[color]
  ui = true
# https://github.com/dandavison/delta
# [core]
#   pager = delta --plus-color="#012800" --minus-color="#340001"
# [interactive]
#   diffFilter = delta --color-only
[color "diff-highlight"]
    oldNormal = red bold
    oldHighlight = red bold 52
    newNormal = green bold
    newHighlight = green bold 22
[color "diff"]
    meta = yellow
    frag = magenta bold
    commit = yellow bold
    old = red bold
    new = green bold
    whitespace = red reverse
[gitlab "company108/gitlab/api/v4"]
	user = chenboxiong
[core]
	quotepath = false
